# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
__pycache__/
skills.yaml
tasks.yaml
/hauska.yaml
/source/hauska_history.csv
/source/layout.pkl
/skills_history.csv
/test.csv
/test.h5
/Untitled.ipynb
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
